/* Landing page css */

.header-color {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.landing-grid {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  text-align: center;
}

.drawer-color {
  background: #000000;  
  background: -webkit-linear-gradient(to left, #434343, #000000); 
  background: linear-gradient(to left, #434343, #000000); 
}

.project-grid {
  display: flex;
}

.avatar-img {
  height: 350px;
  padding-top: 5em;
  opacity: .6;
  border-radius: 45%;
}

.avatar-img-text {
  background: #000000;  
  background: -webkit-linear-gradient(to left, #434343, #000000); 
  background: linear-gradient(to left, #434343, #000000);
  opacity: .7;
  width: 77%;
  margin: auto;
  border-radius: 15px;
}

.avatar-img-text h1 {
  font-size: 66px;
  font-weight: bolder;
  color: antiquewhite;
}

.avatar-img-text hr {
  border-top: 5px, dotted white;
  width: 50%;
  margin: auto;
}

.avatar-img-text p {
  color: antiquewhite;
  width: 90%;
  margin: auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  color: antiquewhite;
  font-size: 5em;
  padding: 8px
}

/* Contact me page css */
.contact-body {
  margin: auto;
  background: #434343;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: #000000;
  border: 2px solid red;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 30px;
  padding-right: 5rem;
}

/* Resume page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* About me css*/
.about-back {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.about-left {
  color: white;
  padding-left: 4em;
  padding-top: 5em;
}

.about-right {
  color: white;
  text-align: center;
  padding-top: 5em;
}

.about-right hr {
  border-top: 2px dotted darkgrey;
  width: 50%;
  text-align: center;
  margin: auto;
  
}

.ei-kuva {
  max-height: 500px;
  width: auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}


/* Media querys*/

@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}
@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}